@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-Color: #FF3158;
    --secondary-Color: ;
    --text-Color: #2C234D;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #F7C32E;
    --error-Color: #F94C10;
    --grey-Color: #9F9DA5;
    --black-Color: #11111D;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color:#002935;
    --white-Color: #fff;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 15px 25px;
    --button-border-radius: 6px;
    --button-font-weight: 400;
    --logo-border-radius: 15px;
    --jumbotron-padding: 30px 16px;
    --section-padding:30px 0px;
    --heading:80px;
    --heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
}
.fdb-block {
    padding: 0rem 0;
}
/*headercbxff5hblw3*/
.headercbxff5hblw3 .navbar-light .navbar-nav .nav-link{
    color: var(--secondary-Background-Color);
}
/*aboutp3dce575962b3c369*/
.aboutp3dce575962b3c369 .badge{
    display: none;
}
.aboutp3dce575962b3c369 .DescriptionHeading{
    font-size: var(--heading);
    color: var(--secondary-Background-Color);
}
.aboutp3dce575962b3c369 .DescriptionPara{
    font-size: var(--paragraph);
}
.aboutp3dce575962b3c369 .searchBtn{
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);
    padding: var(--button-padding);
    background-color: var(--primary-Color);
}
.aboutp3dce575962b3c369 .jumbotron{
    padding: var(--jumbotron-padding);
}
/*clientscca5p4g11jb4*/
.clientscca5p4g11jb4{
    padding: var(--section-padding);
}
.clientscca5p4g11jb4 .fdb-block{
    padding: 0px 0;
} 
.clientscca5p4g11jb4 .btn-primary,
.clientscca5p4g11jb4 .btn-primary:hover,
.clientscca5p4g11jb4 .btn-primary:not(:disabled):not(.disabled):active{
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);
    padding: var(--button-padding);
    background-color: var(--primary-Color);
    border: none;
}
.clientscca5p4g11jb4 h1{
    font-size: var(--heading-large);
    font-weight: 300;
}
.clientscca5p4g11jb4 .lead{
    font-size: var(--paragraph);
}
.clientscca5p4g11jb4 .pt-5{
    display: none;
}
/*abouteb092de7c8df0610*/
.abouteb092de7c8df0610  {
    padding: var(--section-padding);
}
.abouteb092de7c8df0610 #AbOuTuS {
    padding: 0rem;
}
.abouteb092de7c8df0610 h2 {
    font-size: var(--heading-large);
}
.abouteb092de7c8df0610 p{
    font-weight: 500;
}
/*aboutab8dfbbd4bed*/
.aboutab8dfbbd4bed{
    padding: var(--section-padding);
}
.aboutab8dfbbd4bed .description{
    font-size: var(--heading-large);
}
.aboutab8dfbbd4bed .Explore {
    background-color: var(--primary-Color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);
    border: 1px solid var(--primary-Color);
}
.aboutab8dfbbd4bed .para{
    font-size: var(--paragraph);
}
/*servicecda4f61d9a1b5853*/
.servicecda4f61d9a1b5853{
    padding: var(--section-padding);
}
.servicecda4f61d9a1b5853 .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
    font-size: var(--paragraph);
}
/*quickLinkq82b7ca311d27746a*/
.quickLinkq82b7ca311d27746a h2{
    font-size: var(--heading-large);
}
.quickLinkq82b7ca311d27746a .btn {
    font-weight: var(--button-font-weight);
    border: 1px solid;
    margin: 16px;
}
.quickLinkq82b7ca311d27746a .btn:hover{
    background-color: var(--success-Color);
    color: var(--main-Background-Color);
    margin: 16px;
}
/*productscb870d00581aabe8*/
.productscb870d00581aabe8{
    padding: var(--section-padding);
}
.productscb870d00581aabe8 .title {
    color: var(--secondary-Background-Color);
    font-size: var(--heading-medium);
}
.productscb870d00581aabe8 .price-new{
    color: var(--success-Color);
    font-size: var(--paragraph);
}
/*serviceebfcf165e4ae5852*/
.serviceebfcf165e4ae5852{
    padding: var(--section-padding);
}
.serviceebfcf165e4ae5852 h2 {
    font-size: var(--heading-large);
}
.serviceebfcf165e4ae5852 .font-weight-bold {
    font-weight: var(--heading) !important;
}
.serviceebfcf165e4ae5852 .card-title{
    font-size: var(--heading-medium);
}
.serviceebfcf165e4ae5852 .card-img-top{
    margin-left: 16px;
}
/*bannerd1342044aebb0112*/
.bannerd1342044aebb0112{
    padding: var(--section-padding);
}
.bannerd1342044aebb0112 .bannerBG {
    background: var(--secondary-Background-Color);
}
.bannerd1342044aebb0112 h2 {
    font-size: var(--heading-large);
    color: var(--main-Background-Color);
}
.bannerd1342044aebb0112 p {
    color: var(--main-Background-Color);
    font-size: var(--paragraph);
    margin-top: 30px;
    margin-bottom: 0rem;
}
.bannerd1342044aebb0112 .appLogo{
    margin-left: -20px;
}
/*teamtm1gfnkqj1t*/
.teamtm1gfnkqj1t {
    padding: var(--section-padding);
}
.teamtm1gfnkqj1t h2{
    font-size: var(--heading-large);
}
.teamtm1gfnkqj1t h3 {
    font-size: var(--heading-medium);
}
.teamtm1gfnkqj1t strong {
    font-weight: 600;
}
.teamtm1gfnkqj1t .rounded{
    border-radius: var(--logo-border-radius) !important;
}
.teamtm1gfnkqj1t .fdb-block{
    padding: 0rem 0;
}
/*footerb9fc05b1281e93c0*/
.footerb9fc05b1281e93c03 .courses-link-list li a:hover {
    color: var(--warning-Color);
}
.footerb9fc05b1281e93c03 .small-post-item .post-date{
    color: var(--warning-Color);
}
.footerb9fc05b1281e93c03 .news-letter-form input[type="submit"]{
    background-color:var(--warning-Color);
    color: var(--secondary-Background-Color);
}
.footerb9fc05b1281e93c03  h5 {
    font-size: var(--heading-medium);
}
.footerb9fc05b1281e93c03 .footer-top{
    padding-top: 50px;
    padding-bottom: 50px;
}