:root {
    --brand-color: #8F7DFC;
    --light-brand-color: #EF57F2;
    --text-color:  #3F4C4C;
    --light-text-color: #7C7C7C;
    --alert-color:  #EDED00 ;
    --success-color: #67E500;
    --warning-color: #2539EA;
    --error-color: #EA0000;
    --main-background-color : #f8f9fa;
    --light-background-color : #fbfbfb;
    --default-font : 'Poppins', sans-serif;
    --primary-font : 'Poppins', sans-serif;
    --secondary-font : 'Poppins', sans-serif;
    --default-font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Typography Starts here */
*,
html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}

a {   
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 4rem;
}
h2 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.813rem;
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

.emphasis {
    font-family: var(--brand-color);
    font-style: italic;
    color: var(--main-brand-color);
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}

.pill-btn {
    border-radius: 499rem;
}

.rounded-corners {
    border-radius: .3rem;
}

.alt-background {
    background: var(--main-background-color);
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-white,
.btn-outline-white,
.btn-success,
.btn-outline-success,
.btn-info,
.btn-outline-info,
.btn-warning,
.btn-outline-warning,
.btn-danger,
.btn-outline-danger {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-white,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
    border-width: .15rem;
}

.btn:focus{
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}


.lead {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color)
}

@media(max-width: 767px) {
    .lead {
        font-size: 1.2rem      
    }
  }

/* Typography Ends here */  

/* #hagun(h855f44553e2f66e1) #css starts  */
.headerh855f44553e2f66e1 .btnReg{     
        color: #FF614B;
        border-radius: 35px;
        border: 2px solid #EDF1F0;
        font-weight: bold
    }
 
.headerh855f44553e2f66e1 .btn{
        font-weight: bold
    }
    .headerh855f44553e2f66e1 .navbar-light .navbar-nav .nav-link { 
    color: var(--text-color)
}
.headerh855f44553e2f66e1 .navbar-light .navbar-nav .nav-link:hover {
    color: #9786EF
}
.headerh855f44553e2f66e1 .LogIn{
    margin-left: -16px
}
/* #hagun(h855f44553e2f66e1) #css ends  */

/* #angul(a6648229d877cb78a) #css starts  */
.abouta6648229d877cb78a h2{
    font-size: 40px;
    color: white;
    margin-top: 40px
}

.abouta6648229d877cb78a .Background{
    background-color: #8F7CFF
}
.abouta6648229d877cb78a .horizontal{
    width:10%;
    text-align:left;
    margin-left:0;
    height: 5px;
    border-radius: 35px; 
    background-color:#BDB3FF; 
    border: none; 
    margin-top: 20px
}
.abouta6648229d877cb78a .para{
   font-weight: 100;
    color: #DCD5FF
}
/* #angul(a6648229d877cb78a) #css ends  */

  /* #safi(sad749ec1f5f4075f) #css starts  */
  .servicesad749ec1f5f4075f .card {
    margin: 5%;
    flex-direction: row
  }

  .servicesad749ec1f5f4075f .card-body {
    padding: 0.5em 1em
  }
  .servicesad749ec1f5f4075f .rounded-start{
    height: 135px;
    width: 155px
 }
 .servicesad749ec1f5f4075f .card2{
  box-shadow: none;
  border-bottom: 1px solid #E8ECEB
 }
 .servicesad749ec1f5f4075f .Join{
    font-weight: bold;
    color: #00D1B6
 }
 .servicesad749ec1f5f4075f .Log{
    font-weight: bold;
    color: #FFD502
 }
 @media screen and (max-width: 567px) {
    .servicesad749ec1f5f4075f .card-text {
      margin-bottom: 0.5em
    }
  }
  /* #safi(sad749ec1f5f4075f) #css ends  */

  /* #afur(a6d8c49d4d01666aa) #css starts  */
  .abouta6d8c49d4d01666aa{
    margin-top: 150px;
  }
.abouta6d8c49d4d01666aa h2{
    font-size: 40px;
    color: var(--text-color);
    margin-top: 40px
}
.abouta6d8c49d4d01666aa .horizontal{
    width:10%;
    text-align:left;
    margin-left:0;
    height: 5px;
    border-radius: 35px; 
    background-color:#84CE60; 
    border: none; 
    margin-top: 20px
}
.abouta6d8c49d4d01666aa .para{
    color: #9DA3A3
}
/* #afur(a6d8c49d4d01666aa) #css ends  */

/* #apne(a134c81d1789badbc) #css starts  */
.abouta134c81d1789badbc{
    margin-top: 150px;
}
.abouta134c81d1789badbc h2{
    font-size: 40px;
    color: var(--text-color);
    margin-top: 40px
}

.abouta134c81d1789badbc .horizontal{
    width:10%;
    text-align:left;
    margin-left:0;
    height: 5px;
    border-radius: 35px; 
    background-color:#8F7CFF; 
    border: none; 
    margin-top: 20px
}
.abouta134c81d1789badbc .para{
    color: #9DA3A3
}
/* #apne(a134c81d1789badbc) #css ends  */

/* #afurn(a2a629a4aa864d956) #css starts  */
.abouta2a629a4aa864d956{
    margin-top: 150px;
}
.abouta2a629a4aa864d956 h2{
    font-size: 40px;
    color: var(--text-color);
    margin-top: 40px
}
.abouta2a629a4aa864d956 .horizontal{
    width:10%;
    text-align:left;
    margin-left:0;
    height: 5px;
    border-radius: 35px; 
    background-color:#84CE60; 
    border: none; 
    margin-top: 20px
}
.abouta2a629a4aa864d956 .para{
    color: #9DA3A3
}
/* #afurn(a2a629a4aa864d956) #css ends  */